<section id="ferramentas">
<article>
  <p class="chapeu"><small>Criadas por mim</small></p>
  <h2>Ferramentas</h2>
  <p>Pequenas ferramentas que ajudam no dia a dia de todo mundo -- produteiros ou não.</p>
</article>

<ul class="cards">
    <li>
      <article>
        <div class="cabecalho">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-music-icon lucide-music"><path d="M9 18V5l12-2v13"/><circle cx="6" cy="18" r="3"/><circle cx="18" cy="16" r="3"/></svg></span>
          <a href="https://my-tune-library.lovable.app/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link w-4 h-4"><path d="M15 3h6v6"></path><path d="M10 14 21 3"></path><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path></svg></a>
        </div>
        <h3>My Tunes Library</h3>
        <p>Ferramenta para ver sua biblioteca de músicas a partir de uma planilha ou CSV.</p>
      </article>
      <aside>
        <a href="https://my-tune-library.lovable.app/" target="_blank">Acessar →</a>
      </aside>
    </li>
    <li>
      <article>
        <div class="cabecalho" target="_blank">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-banknote-icon lucide-banknote"><rect width="20" height="12" x="2" y="6" rx="2"/><circle cx="12" cy="12" r="2"/><path d="M6 12h.01M18 12h.01"/></svg></span>
          <a href="https://docs.google.com/spreadsheets/d/1m6XR9GbUEEVZIybwZ5-aBgPU3KttrgrAEm4w79SmFt0/edit?usp=sharing"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link w-4 h-4"><path d="M15 3h6v6"></path><path d="M10 14 21 3"></path><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path></svg></a>
        </div>
        <h3>Planilha monetária</h3>
        <p>Template da minha planilha de gastos com visão mensal e anual.</p>
      </article>
      <aside>
        <a href="https://docs.google.com/spreadsheets/d/1m6XR9GbUEEVZIybwZ5-aBgPU3KttrgrAEm4w79SmFt0/edit?usp=sharing">Acessar →</a>
      </aside>
    </li>
    <li>
      <article>
        <div class="cabecalho" target="_blank">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sheet-icon lucide-sheet"><rect width="18" height="18" x="3" y="3" rx="2" ry="2"/><line x1="3" x2="21" y1="9" y2="9"/><line x1="3" x2="21" y1="15" y2="15"/><line x1="9" x2="9" y1="9" y2="21"/><line x1="15" x2="15" y1="9" y2="21"/></svg></span>
          <a href="https://docs.google.com/spreadsheets/d/1qGfLpsduQT0nCFHYiu_7AKXFjRaRA9DGFYtfgQhnPNg/edit?usp=sharing"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link w-4 h-4"><path d="M15 3h6v6"></path><path d="M10 14 21 3"></path><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path></svg></a>
        </div>
        <h3>Planilha com fórmulas de planilha</h3>
        <p>Uma documentação com demonstração de fórmulas de planilha do Google Sheets.</p>
      </article>
      <aside>
        <a href="https://docs.google.com/spreadsheets/d/1qGfLpsduQT0nCFHYiu_7AKXFjRaRA9DGFYtfgQhnPNg/edit?usp=sharing" target="_blank">Acessar →</a>
      </aside>
    </li>
  </ul>
</section>