<section id="hobbies">
  <article>
    <p class="chapeu"><small>Interesses pessoais</small></p>
    <h2>Hobbies & Interesses</h2>
    <p>A criatividade floresce nos momentos de lazer</p>
  </article>

  <ul class="cards">
    <li>
      <article>
        <div class="cabecalho">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pen-tool w-5 h-5 text-terra-500"><path d="m12 19 7-7 3 3-7 7-3-3z"></path><path d="m18 13-1.5-7.5L2 2l3.5 14.5L13 18l5-5z"></path><path d="m2 2 7.586 7.586"></path><circle cx="11" cy="11" r="2"></circle></svg></span>
          <a href="https://martinha.online/neuroses-cotidianas" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link w-4 h-4"><path d="M15 3h6v6"></path><path d="M10 14 21 3"></path><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path></svg></a>
        </div>
        <h3>Blog</h3>
        <p>Reflexões sobre a vida.</p>
      </article>
      <aside>
        <a href="http://martinha.online/neuroses-cotidianas" target="_blank">Acessar →</a>
      </aside>
    </li>
    <li>
      <article>
        <div class="cabecalho" target="_blank">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book-open w-5 h-5 text-moss-300"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg></span>
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link w-4 h-4"><path d="M15 3h6v6"></path><path d="M10 14 21 3"></path><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path></svg></a>
        </div>
        <h3>Leituras</h3>
        <p>Meu histórico de livros lidos.</p>
      </article>
      <aside>
        <a href="">Acessar →</a>
      </aside>
    </li>
    <li>
      <article>
        <div class="cabecalho" target="_blank">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-printer w-5 h-5 text-terra-500"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect width="12" height="8" x="6" y="14"></rect></svg></span>
          <a href="https://martinha.online/neuroses-cotidianas/?category=impressao-3d"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link w-4 h-4"><path d="M15 3h6v6"></path><path d="M10 14 21 3"></path><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path></svg></a>
        </div>
        <h3>Impressão 3D</h3>
        <p>Meu porfolio de itens impressos.</p>
      </article>
      <aside>
        <a href="https://martinha.online/neuroses-cotidianas/?category=impressao-3d" target="_blank">Acessar →</a>
      </aside>
    </li>
  </ul>
</section>