<section id="palestras">
        <article>
          <p class="chapeu"><small>Conhecimento</small></p>
          <h2>Palestras e tutoriais</h2>
          <p>Compartilhando conhecimento sobre Product Ops</p>
        </article>

        <ul class="cards">
          <li>
            <article>
              <p>
                <span>icone</span>  
              </p>
              <p>Palestra</p>
              <h3>Titulo</h3>
              <p>Descricao</p>
            </article>
            <aside>
              <p>45min</p>
              <p>200+ pessoas</p>
              <p><a href="">Ver mais</a></p>
            </aside>
          </li>
        </ul>
      </section>