<ul class="cards">
        {% for item in collections.portfolio | reverse %}
        
          <li>
            <article>
              <p class="header">
                <span>{{ forloop.index }}</span>
                <a href="{{ item.url }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg></a>
              </p>
              <h3>{{ item.data.title }}</h3>
              <p>{{ item.data.descricao }}</p>
            </article>
            <aside>
              {% if item.data.impacto %}<p>Impacto <strong>{{ item.data.impacto }}</strong></p>{% endif %}

              <ul class="tags">
                {% if item.data.etiqueta1 %}<li>{{ item.data.etiqueta1 }}</li>{% endif %}
                {% if item.data.etiqueta2 %}<li>{{ item.data.etiqueta2 }}</li>{% endif %}
                {% if item.data.etiqueta3 %}<li>{{ item.data.etiqueta3 }}</li>{% endif %}
              </ul>
            </aside>
          </li>
          {% endfor %}
        </ul>