<section id="splash">
<article>
    <p class="chapeu"><small>Product Operations</small></p>
    <p>Olá, eu sou</p>
    <h1>Marta Preuss</h1>
    <h2>Product Operations Specialist</h2>
    <p>Especialista em otimizar processos de produto, conectar equipes e transformar dados em insights acionáveis para impulsionar o crescimento.</p>
    <p><em>“Transformando complexidade em simplicidade”</em></p>
    <p><a href="#contato">Vamos conversar</a></p>
</article>
<aside>
    <section class="experience">
    <div class="experience__content">

        <article class="stat-card stat-card--left">
        <span class="stat-card__number">20+</span>
        <span class="stat-card__label">Projetos entregues</span>
        </article>

        <div class="experience-circle">
        <div class="experience-circle__inner">
            <h2 class="experience-circle__initials">MP</h2>

            <div class="experience-circle__divider"></div>

            <p class="experience-circle__title">
            Product Ops
            </p>
        </div>

        <span class="orbit orbit--top"></span>
        <span class="orbit orbit--right"></span>
        <span class="orbit orbit--bottom"></span>
        <span class="orbit orbit--left"></span>
        </div>

        <article class="stat-card stat-card--right">
        <span class="stat-card__number">5+</span>
        <span class="stat-card__label">Anos de experiência</span>
        </article>

  </div>
</section>
</aside>
</section>